<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>RTP.AZ</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ComingSoon
  * Template URL: https://bootstrapmade.com/comingsoon-free-html-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center px-3 sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">RTP</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Ana Səhifə</a></li>
          <li><a href="#about">Haqqımızda</a></li>
          <li><a href="#contact">Əlaqə</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section transparent-background">

      <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>RTP.AZ</h2>
            <p>Ev və Biznesiniz üçün Təhlükəsizlik Kameralarının quraşdırılması</p>
          </div>
          <div class="countdown d-flex justify-content-center" data-count="2025/12/3">
            <div>
              <h3 class="count-days">482</h3>
              <h4>Days</h4>
            </div>
            <div>
              <h3 class="count-hours">6</h3>
              <h4>Hours</h4>
            </div>
            <div>
              <h3 class="count-minutes">49</h3>
              <h4>Minutes</h4>
            </div>
            <div>
              <h3 class="count-seconds">41</h3>
              <h4>Seconds</h4>
            </div>
          </div>

          

          <div class="social-links">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section transparent-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              Biz, RTP şirkəti olaraq təhlükəsizlik kameralarının quraşdırılması sahəsində ixtisaslaşmış peşəkar komandayıq. Məqsədimiz, müştərilərimizin ev və iş yerlərində maksimum təhlükəsizlik səviyyəsinə nail olmalarına kömək etməkdir. Təcrübəli mütəxəssislərimiz ən son texnologiyalardan istifadə edərək, ehtiyaclarınıza uyğun xüsusi həllər təqdim edir.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Missiyamız: Müştərilərimizin təhlükəsizlik ehtiyaclarını müasir və etibarlı texnologiya ilə qarşılamaq, onlara rahatlıq və güvən hissi bəxş etməkdir.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Dəyərlərimiz: Biz keyfiyyət, etibarlılıq və şəffaflıq prinsipləri ilə çalışırıq. Hər bir layihəyə fərdi yanaşır, müştərilərimizin məmnuniyyətini daim ön planda saxlayırıq.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Niyə bizi seçməlisiniz?
                <br>
                Təcrübəli və peşəkar komanda
                <br>
                Yenilikçi təhlükəsizlik həlləri
                <br>
                Müasir texnologiyalardan istifadə
                <br>
                Keyfiyyətli və zəmanətli xidmət</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>Yüksək səviyyəli, kəsintisiz kamera görüntüsü və internet bağlantısı təmin edirik, eyni zamanda online izləmə imkanları təqdim edirik. Müştərilərimiz 360 dərəcəli IP və analoq kameralarla yanaşı, Wi-Fi təhlükəsizlik və nəzarət kameralarından faydalana bilərlər. Xidmətlərimiz təkcə ev və biznes obyektləri ilə məhdudlaşmır; biz nəqliyyat və sərnişin daşıma avtomobilləri üçün də nəzarət və təhlükəsizlik kameralarının quraşdırılması və online izləmə imkanları təqdim edirik. Təhlükəsizlik kameralarının seçimi, quraşdırılması, texniki dəstəyi və təkmilləşdirilməsi üzrə xidmətlərimiz hər bir mühit üçün ən uyğun həlləri təklif edərək, müştərilərimizin təhlükəsizlik sistemini müasir tələblərə uyğun qurmağı hədəfləyir. </p>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section transparent-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Əlaqə</h2>
        <p>Bizimlə əlaqə saxlamaq çox asandır! Suallarınız varsa və ya xidmətlərimiz haqqında daha ətraflı məlumat almaq istəyirsinizsə, aşağıdakı vasitələrdən biri ilə bizimlə əlaqə saxlayın.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Ünvan</h3>
                  <p>Bakı şəhəri, Nərimanov rayonu</p>
                  <p>Əliyar Əliyev 59 (Bakı Modern Məkətbinin yanı)</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Əlaqə</h3>
                  <p>+99451 619 93 93</p>
                  <p></p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Bizə mail yaz</h3>
                  <p>office@rtp.az</p>
                  <p></p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="500">
                  <i class="bi bi-clock"></i>
                  <h3>İş zamanı</h3>
                  <p>Bazarertəsi - Cümə axşamı</p>
                  <p>09:00 - 18:00</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-6">
            {% from '_formhelpers.html' import render_field %}
            <form action="{{url_for('contact')}}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  {{render_field(form.name,class="form-control" ,placeholder="Your Name")}}
                </div>
                <div class="col-md-6 ">
                  {{render_field(form.email, class="form-control", placeholder="Your Email")}}
                </div>
                <div class="col-12">
                  {{render_field(form.subject,class="form-control" ,placeholder="Subject")}}
                </div>
                <div class="col-12">
                  {{render_field(form.message ,class="form-control" ,placeholder="Message")}}
                </div>
                <div class="col-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">"Your"</div>

                  <button type="submit">Send Message</button>
                  
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer transparent-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">ComingSoon</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/aos/aos.js')}}"></script>

  <!-- Main JS File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>